.container{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.stockExchanges{
  background: #ecf5fd;
  padding: 5px;

}
.select{
  padding: 10px;
  display: flex;
}
li {
  background: white;
  border: 1px #ecf5fd solid;
  list-style: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
li:hover{
  background-color: #ecf5fd;
  border: 1px #001eff solid;
}